
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    border-radius: 5px;
    max-width: 330px;
    margin: 0 auto;
}

h1{
    margin: 10px 0;
    color: rgb(91, 91, 242);
    text-align: center;

}

label {
    display: block;
    margin: 5px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
.search-button {
    background-color:  #45a049;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
